/**
* Scarlett-taylor Portfolio - version 1.01 - 
index.css file - Features: 
*  
*     --> Testing 'Baloo Tamma 2' google font
*
* Note: this file will be refactor
*/
body {
  margin: 0;
  font-family: 'Baloo Tamma 2', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
