/** Scarlett-taylor Portfolio - version 1.02 - 
index.css file - Features: 
*  
*     --> Adding body styles
*
* Note: this file will be refactor
*/

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---utility components-------**/
:root{
  font-size: 62.5%;

  /*----------custom properties or variables--------**/

  /** main color */
  --primary-color:#014d4e;

  /** secondary color */
  --secondary-color:#ff9408;

  /** tertiary color */
  --tertiary-color:#017374;

  /** tertiary shade dark color */
  --tertiary-color:#01727498;

}

body{
  font-family: 'Baloo Tamma 2', cursive;
  line-height: 1.8;

  display: flex;
}

